*.pyc
*.o
*.d
*.pyo
*.so
*.a
*.out
*.log
*.aof
*.rdb
*.DS_Store
*.dSYM
*.zip
*.gz
*.bz2
*.tar
/site/*
/build*/
/artifacts/*
.vscode/*
.idea/*
*.swp
VSCODE.DB*
src/dep/rmr/hiredis/.clang-format
src/dep/rmr/hiredis/.vscode
