version: 2

defaults:
  ci_steps: &ci_steps
    - checkout
    - run:
        name: Python Dependencies
        command: |
          wget -q https://bootstrap.pypa.io/get-pip.py -O /tmp/get-pip.py
          python /tmp/get-pip.py
          python -m pip install --upgrade setuptools
          python -m pip uninstall -y -q redis redis-py-cluster ramp-packer RLTest rmtest semantic-version
          python -m pip install --no-cache-dir git+https://github.com/Grokzen/redis-py-cluster.git@master
          python -m pip install --no-cache-dir git+https://github.com/RedisLabsModules/RLTest.git@master
          python -m pip install --no-cache-dir git+https://github.com/RedisLabs/RAMP@master        
  
    - run:
        name: Submodule checkout
        command: |
          if [[ ! -e src/dep/RediSearch/CMakeLists.txt ]]; then
            git submodule update --init --recursive
          fi

    - run:
        name: Configuration & UV Build
        command: ./.circleci/configure.sh
    
    - run:
        name: Main Build
        command: ./.circleci/build.sh
    - run:
        name: Test
        command: ./.circleci/test.sh
    - run:
        name: Package
        command: ./.circleci/package.sh

    - persist_to_workspace:
        root: /workspace
        paths:
          - 'snapshot'
          - 'release'

  default_jobs: &default_jobs
    - centos
    - ubuntu
    - trusty

jobs:
  ubuntu:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    environment:
      - BUILD_DIR: build-debian
      - DIST_SUFFIX: -ubuntu16.04

    steps: *ci_steps

  trusty:
    docker:
      - image: 'redislabsmodules/rmbuildertrusty:latest'
    environment:
      - BUILD_DIR: build-trusty
      - DIST_SUFFIX: -ubuntu14.04
    steps: *ci_steps
  
  centos:
    docker:
      - image: 'redislabsmodules/rmbuildercentos:latest'
    environment:
      - BUILD_DIR: build-el
      - DIST_SUFFIX: -rhel7

    steps: *ci_steps

  deploy_snapshots:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: /workspace
      - run:
          name: Deploy Snapshots to S3
          command: |
            for f in /workspace/snapshot/*.zip; do
              aws s3 cp $f s3://redismodules/$PACKAGE_NAME/snapshots/ --acl public-read
            done

  deploy_release:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: /workspace
      - run:
          name: Deploy Releases to S3
          command: |
            for f in /workspace/release/*.zip; do
              aws s3 cp $f s3://redismodules/$PACKAGE_NAME/ --acl public-read
            done

workflows:
  version: 2

  default_flow:
    jobs:
      - ubuntu:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - centos:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - trusty:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - deploy_snapshots:
          requires: *default_jobs
          filters:
            branches:
              only:
                - master
                - circle-sandbox
      - deploy_release:
          requires: *default_jobs
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v[0-9].*/
